{{> message}}

<form action="/todos/{{todo.id}}?_method=PUT" method="post">
    <input type="checkbox" name="isCompleted" {{#if todo.isCompleted}} checked {{/if}}>
    <input type="text" placeholder="Enter a todo......" name="name" value="{{todo.name}}">
    <button type="submit">Save</button>
    <a href="/todos">back</a>
</form>