<a href="/todos/new">Create</a>

<ul>
    {{#each todos as |todo|}}
    <li>
        {{todo.name}}
        <a href="/todos/{{todo.id}}">detail</a>
        <a href="/todos/{{todo.id}}/edit">edit</a>
    </li>
    {{/each}}
</ul>